@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin:50px 0 0 0;
    background: url("/static/img/garage.jpg");
    background-size: 100%;
    color: white;
    max-width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.88);
    background-blend-mode: multiply;
    font-family: "Helvetica Neue", sans-serif;
}

header {
    width: 100%;
    min-height: 7vh;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 60px;
    z-index: 1;
}

header  img {
    weight: auto;
    max-height:115px;
    padding: 10px 0 5px 130px;
}

*, *::before, *::after { box-sizing:border-box }

.cart p {
  font-size: 18px;
  text-align: right;
  margin-right:20px
}

.cart  a {
  margin-right:20px
}

.content {
    padding-bottom: 16px;
}

.footer {
    width: 97.5%;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: end;
    height: 0;
    margin-top: auto;
    align-items: center;
    text-transform: uppercase;
}

 .icons {
   position: relative;
   display: flex;
   transform: rotate(-25deg) skew(25deg);
   transform-style: preserve-3d;
}
.icons li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 20px;
}
.icons li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  trnasform-origin: top;
  transform: skewX(-41deg);
}
.icons li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  trnasform-origin: right;
  transform: skewY(-49deg);
}
.icons li span{
  position: absolute;
  top: 0;
  lef: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
.icons li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadw: -1px 1px 1px rgba(0, 0, 0, .5);
}
.icons li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}
.icons li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}
.icons li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}
.icons li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
}.icons li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}
.icons li:nth-child(1):hover span{
  background: #52E19F !important;
}
.icons li:nth-child(2):hover span{
  background: #2C3456 !important;
}
.icons li:nth-child(3):hover span{
  background: #EA6E96 !important;
}
.icons li:nth-child(4):hover span{
  background: #FCEB00 !important;
}

@media screen and (max-width: 1400px) {
    header img {
            max-height: 65px;
        }
}

@media screen and (max-width: 1400px) {
    p {
        margin: 20px;
    }
}

@media screen and (max-width: 800px) {
    header img {
        height: 45px;
    }
}

.menu-main {display: inline-block;}
.menu-main :last-child:after {content: none;}
.menu-main  a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 0;
  margin: 0 10px 0 10px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #54e44fa1;}
.menu-main a.current, .menu-main a:hover{color: #f30531;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}

.menu-main {
  list-style: none;
  margin: 15px 0 15px;
  padding: 15px 0 15px;
  text-align: center;
  text-decoration: none;
  color: green;
  ont-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  font-size: 17px;
  text-transform: uppercase;
  transition: color .2s;
}

.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px;
  margin: 0 30px;
}
}