{% extends 'products/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/neon.css' %}" type="text/css">
<div class="container">
    <div class="container1">
        <div><h1 class="neonText1">AUTOMAG</h1></div>
        <div><h3 class="neonText1">Работаем для вас с 2023 года</h3></div>
    </div>
    <br>
    <br>
    <p>Мы рады приветствовать Тебя в самом крутом детэйл-шопе Питера!</p>
    <p>У нас Ты найдёшь тюнинг на любой вкус.</p>
    <p>ТОЛЬКО МИРОВЫЕ БРЕНДЫ. ТОЛЬКО ПРОВЕРЕННЫЕ ПОСТАВЩИКИ</p>
    <p>У НАС РАБОТАЮТ МАСТЕРА ПРОФИ СВОЕГО ДЕЛА!</p>
    <br>
    <br>
    <p CLASS="sale">Регистрируйся и участвуй в акции</p>
    <div class="container2">
        <div><h2 class="neonText">-40% SALE</h2></div>
        <div><h3 class="neonText">Только в октябре</h3></div>
    </div>
 </div>
<div class="footer">
 <ul class="icons">
    <li>
      <a href="https://vk.com/vermilion665" target="_blank">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-vk">
            </a>
        </span>
      </a>
    </li>
    <li>
      <a href="whatsapp://send?phone=79522384345&text=Вас приветствует AUTOMAG" target="_blank">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-whatsapp"></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-phone"></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-map-marker"></span>
      </a>
    </li>
  </ul>
  </div>
{% endblock content %}